@import "tailwindcss";

@theme {
  --color-primary: #FACC15;
  --color-primary-hover: #EAB308;
  --color-dark-bg: #000000;
  --color-dark-card: #111111;
  --color-dark-input: #1A1A1A;
}

@layer base {
  body {
    @apply bg-dark-bg text-white antialiased;
  }
}

.yellow-glow {
  box-shadow: 0 0 15px rgba(250, 204, 21, 0.2);
}

.text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-primary to-yellow-600;
}

